/* CSS declarations go here */

body {
    background-image: url('img/light_grey.png');
    background-position: center center;
    background-repeat: repeat;

}

#social_icons , a {
    cursor: pointer;
}

#heading {
    font-size: 60px;
    font-weight: 500;
    line-height: 1;
    color: #767777;
}

#subheading {
    font-size: 21px;
    font-weight: 500;
    line-height: 1;
    color: #767777;
}

.page__content {
    max-width: 900px;
    margin: 0 auto;
    padding-top: 50px;
    padding-left: 50px;
    
}

.demo-card-image2 {
    min-height: 284px;
    background: url('img/cup2.jpg');
    background-position: center;
    background-size: cover;
}

.demo-card-image4 {
    min-height: 284px;
    background: url('img/cup4.jpg');
    background-position: center;
    background-size: cover;
}

.demo-card-image1 {
    min-height: 284px;
    background: url('img/cup1.jpg');
    background-position: center;
    background-size: cover;
}

.demo-card-image2 > .mdl-card__actions {
    position: absolute;
    bottom: 0px;
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
}

.demo-card-image4 > .mdl-card__actions {
    position: absolute;
    bottom: 0px;
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
}

.demo-card-image1 > .mdl-card__actions {
    position: absolute;
    bottom: 0px;
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
}

.demo-card-image__filename {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

#how1>.mdl-card, #how2>.mdl-card, #how3>.mdl-card {
    height: 100%
}

#message {
    width: 100%;
}

#message textarea {
    font-size: 18pt;
    border-color: #ffffff;
}

#message .mdl-card__actions {
    display: flex;
    justify-content: center;
}

#charCount {
    padding-top: 10px;
}

.tweet {
    transition: color 1.5s ease;
    color: transparent;
}

.tweet:hover {
    transition: color 1.5s ease;
    color: #000000;
}

.tweet > .tw_img {
    transition: opacity 1.5s ease;
    opacity: 1;
}

.tweet > .tw_img:hover {
    transition: opacity 1.5s ease;
    opacity: 0;
}

.grid-item img {
    width: 200px;
}

.how > .mdl-grid {
    padding: 0px;
}

i {
    margin-left: 5px;
    cursor: pointer;
}