/* CSS declarations go here */

body {
    background-image: url('img/light_grey.png');
    background-position: center center;
    background-repeat: repeat;

}

.page__content {
    max-width: 900px;
    margin: 0 auto;
    padding-top: 50px;
    padding-left: 50px;
    
}

.buy {
  min-height: 360px;
}

.mdl-textfield {
    height: 50%

}

div.mdl-card__actions:nth-child(3) {
    position: absolute;
    bottom: 21px;

}

#message {
    height: 100%;
    width: 100%;
    font-size: 18pt;
    /* font-family: 'Coming Soon', cursive; */
    padding: 10px;
}

.mdl-card__supporting-text {
    font-size: 14pt;
}

.demo-card-image2 {
    min-height: 360px;
    background: url('img/cup2.jpg');
    background-position: center;
    background-size: cover;
}

.demo-card-image4 {
    min-height: 360px;
    background: url('img/cup4.jpg');
    background-position: center;
    background-size: cover;
}

.demo-card-image1 {
    min-height: 360px;
    background: url('img/cup1.jpg');
    background-position: center;
    background-size: cover;
}

.demo-card-image2 > .mdl-card__actions {
    position: absolute;
    bottom: 0px;
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
}

.demo-card-image4 > .mdl-card__actions {
    position: absolute;
    bottom: 0px;
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
}

.demo-card-image1 > .mdl-card__actions {
    position: absolute;
    bottom: 0px;
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
}

.demo-card-image__filename {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.tweet {
    transition: color 1.5s ease;
    color: transparent;
}

.tweet:hover {
    transition: color 1.5s ease;
    color: #000000;
}

.tweet > .tw_img {
    transition: opacity 1.5s ease;
    opacity: 1;
}

.tweet > .tw_img:hover {
    transition: opacity 1.5s ease;
    opacity: 0;
}

.grid-item img {
    width: 200px;
}

.how > .mdl-grid {
    padding: 0px;
}

/* how it works cards */

div.mdl-cell--4-col:nth-child(1) {
    margin-left: 0px;
    background-color: #dedcce;
}

div.mdl-cell--4-col:nth-child(2) {
    background-color: #dedcce;
}

div.mdl-card:nth-child(3) {
    margin-right: 0px;
    background-color: #dedcce;
}